{
    "DiscordBotToken": "YOUR_BOT_TOKEN",
    "BotTimezone": "America/New_York",
    "LobbyChannelName": "lobby-bot",
    "LobbyRole": "Server Lobby",
    "PersistentLobbyRole": "Server Lover",
    "PersistentLobbyRoleEnable": "True",
    "LobbyMessageTitle": "My Lobby!",
    "LobbyMessageColor": "388727",
    "NappingMessageColor": "715814",
    "LobbyThreshold": "14",
    "LobbyRestartThreshold": "8",
    "LobbyCooldown": "1h",
    "PingRemovalTimer": "15m",
    "Servers":[
      ["SERVER.IP", SERVERPORT]
    ],
    "ReactionEmojis":[
      "\uD83E\uDD20",
      "\uD83E\uDD16",
      "\uD83D\uDE3B",
      "\uD83D\uDC75"
    ],
    "ReactionIntervals":[
      "1h",
      "2h",
      "4h",
      "6h"
    ]
}
